<!DOCTYPE html>
<html>
    <head>
        <title>Tasks</title>
        <style>
            table th, td{
                padding: 0 20px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                        <li><a href="{% url 'list_projects' %}">My projects</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <div>
                <h1>My Tasks</h1>
                {% if tasks|length == 0 %}
                <p>You have no tasks</p>
                {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed | yesno}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </main>
    </body>
</html>