<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <style>

        </style>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                    <li><a href="{% url 'list_projects' %}">My projects</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Login</h1>
                <form action="/accounts/login/" method="POST">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button>Login</button>
                </form>
            </div>
        </main>
    </body>
</html>