<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
        <style>
            table th:nth-child(1), td:nth-child(1){
                padding: 0 20px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                    <li><a href="{% url 'list_projects' %}">My projects</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                <p><a href="/projects/create/">Create a new project</a></p>
                {% if projects|length == 0 %}
                <p>You are not assigned to any projects</p>
                {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for project in projects %}
                    <tr>
                        <td><a href="/projects/{{project.1}}/">{{project.0.name}}</a></td>
                        <td>{{project.0.tasks.all | length}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </main>
    </body>
</html>